[submodule "libft"]
	path = libft
	url = https://github.com/yuki-shimoda-crypto/42_libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/yuki-shimoda-crypto/42_get_next_line.git
